.navbar-header{
  margin-left:5px;
}
.main{
	width:70%;
	margin: 350px auto;
	float: none;
	display: block;
	position: relative;
}
.textbox-search {
  display: block;
  position: relative;
  width:42%;
  float:left;
  font-size: 12pt;
  color:#000;
}
.combox{
  width: 20%;
  margin-left: 1%;
  float: left;
  font-size: 12pt;
}
.search{
  margin-left: 1%;
  width: 15%;
  font-size: 12pt;
}
.brand{
  margin-left: 35px;
}
.register-login{
  margin-right: 35px;
}

.button_search{
  background-color: #009494;
  color : white;
}
.bg_index{
  background: url("../img/work.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/* registo e login*/
.container-register-login{
  margin-top: 10%;
}
.panel-login-register{
  margin: 0 auto;
  display: block;
  width: 95%;
  border-bottom: 1px solid grey;
}
.title-login-register{
  color: #009494;
  padding: 10px 10px 10px 0px;
}
.input-email{
  margin-bottom: 25px;
}
.input-password{
  margin-bottom: 15px;
}
.group-btn-logins{
  margin-top:15px
}
.register{
  border-top: 1px solid#888;
  padding-top:15px;
  font-size:85%
}
.signupbox{
  display:none;
}
.btn-register{
  padding-left: 30px;
  padding-right: 30px;
}
.btn-register-facebook{
  padding-left: 30px;
  padding-right: 30px;
}
.recuperar-pw{
  float:right;
  font-size: 80%;
  position: relative;
  top:-25px;
}
/*navbar perfil foto*/
.profile-image {
    border-radius: 60px;
    width: 26px;
    height: 26px;
}
.pre-scrollable-body {
    max-height: 70%;
    overflow-y: scroll;
}
.perfilmain{
  margin-top: 10%;
}
.img-experiencias{
  margin-top: 20px;
  width: 140px;
  height: 140px;
}
