body {
    padding-top: 65px;
    padding-bottom: 65px;
}
.navbar-header{
  margin-left:5px;
}
.main{
	width:70%;
	margin: 350px auto;
	float: none;
	display: block;
	position: relative;
  height: 100%
}
.textbox-search {
  display: block;
  position: relative;
  width:42%;
  float:left;
  font-size: 12pt;
  color:#000;
}
.combox{
  width: 20%;
  margin-left: 1%;
  float: left;
  font-size: 12pt;
}
.search{
  margin-left: 1%;
  width: 15%;
  font-size: 12pt;
}
.brand{
  margin-left: 35px;
}
.register-login{
  margin-right: 35px;
}

.button_search{
  background-color: #009494;
  color : white;
}
.bg_index{
  background: url("../img/work.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.void{
  height:200px;
  display: block;
}



/* registo e login*/
.container-register-login{
  margin-top: 10%;
}
.panel-login-register{
  margin: 0 auto;
  display: block;
  width: 95%;
  border-bottom: 1px solid grey;
}
.title-login-register{
  color: #009494;
  padding: 10px 10px 10px 0px;
}
.input-email{
  margin-bottom: 25px;
}
.input-password{
  margin-bottom: 15px;
}
.group-btn-logins{
  margin-top:15px
}
.register{
  border-top: 1px solid#888;
  padding-top:15px;
  font-size:85%
}
.signupbox{
  display:none;
}
.btn-register{
  padding-left: 30px;
  padding-right: 30px;
}
.btn-register-facebook{
  padding-left: 30px;
  padding-right: 30px;
}
.recuperar-pw{
  float:right;
  font-size: 80%;
  position: relative;
  top:-25px;
}
/*navbar perfil foto*/
.profile-image {
    border-radius: 60px;
    width: 26px;
    height: 26px;
}
.perfilmain{
  margin-top: 10%;
  margin-bottom: 10%;
}
.img-experiencias{
  margin-top: 20px;
  width: 140px;
  height: 140px;
}

/*container*/
.conta{
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: white;
}

/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */

  /*empregos*/
  .empregos{
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .searchempregos{
    margin-top: 5%;
  }
/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.panel {
	border: 1px solid #ddd;
	background-color: #fcfcfc;
}
.panel .btn-group {
	margin: 15px 0 30px;
}
.panel .btn-group .btn {
	transition: background-color .3s ease;
}
.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}
.table-filter tbody tr.selected td {
	background-color: #eee;
}
.table-filter tr td:first-child {
	width: 38px;
}
.table-filter tr td:nth-child(2) {
	width: 35px;
}
.ckbox {
	position: relative;
}
.ckbox input[type="checkbox"] {
	opacity: 0;
}
.ckbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ckbox label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #bbb;
	background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
	border-color: #2BBCDE;
	background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after {
	top: 3px;
	left: 3.5px;
	content: '\e013';
	color: #fff;
	font-size: 11px;
	font-family: 'Glyphicons Halflings';
	position: absolute;
}
.table-filter .star {
	color: #ccc;
	text-align: center;
	display: block;
}
.table-filter .star.star-checked {
	color: #F0AD4E;
}
.table-filter .star:hover {
	color: #ccc;
}
.table-filter .star.star-checked:hover {
	color: #F0AD4E;
}
.table-filter .media-photo {
	width: 35px;
}
.table-filter .media-meta {
	font-size: 11px;
	color: #999;
}
.table-filter .media .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
}
.table-filter .media .title span.pagado {
	color: #5cb85c;
}
.table-filter .media .title span.pendiente {
	color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
	color: #d9534f;
}
.table-filter .media .summary {
	font-size: 14px;
}

/* anunciar */
 .anunciar {
  margin-top: 5%;
  margin-bottom: 10%;
}

#fullscreen {
    position: fixed;
    top: 10px;
    right: 10px;
}
/* END OF DEMO CSS */

.modal-slacker {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.modal-slacker .modal-content {
	margin-top: 5%;
	border-radius: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	height: 80%;
	overflow: auto;
}

.modal-slacker .modal-header .close {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}

.modal-slacker .modal-title {
	font-size: 34px;
	font-weight: bold;
}

@media (min-width: 992px) {
	.modal-slacker .modal-header,
	.modal-slacker .modal-body,
	.modal-slacker .modal-footer {
		width: 900px;
	}
}

@media (min-width: 768px) {
	.modal-slacker .modal-header,
	.modal-slacker .modal-body,
	.modal-slacker .modal-footer {
		width: 600px;
		margin: 30px auto;
	}
}

/*freelancer*/
.freelancer{
  margin-top: 3%;
}
.freelancer-img{
  margin-top: 40px;
}

/*info empregos*/
.info-empregos{
margin-top: 3%;
}



/* this is the bit that gives the border color */
div.list-category h3.title
{
display: block;
padding: 14px 0 15px 0;
font-size: 20px;
font-weight: 100;
margin-bottom: 0px;
border-bottom: 1px solid;
}

div.list-category span.list-footer
{
display: block;
padding: 14px 0 15px 0;
font-size: 20px;
font-weight: 100;
margin-bottom: 0px;
border-bottom: 1px solid;
}

/* removes the border at the top of the list so it doesnt cover up the border above */
div.list-category a.list-group-item:first-child
{
border-top: 0;
}

div.list-category .list-footer
{
margin-top:-15px;
}

div.list-category a.list-group-item
{
border-left: 0;
border-right: 0;
border-radius: 0;
border-bottom: 1px solid #E0E4E9;
color: #4c4c4c;
text-decoration: none;
padding-left: 0;
padding-right: 0;
overflow: hidden;
}

.truncate
{
width: 80%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}


/*index*/

@media (max-width: 480px) {
.main{
  margin-top: 50%;
  width: 90%;
}
.box-main{
  float: none;
  margin: 5px auto;
  width: 100%;
}
/*empregos*/
.searchempregos{
  margin-top: 15%;
}

/*anunciar*/

/*registo recuperer login*/
.container-register-login{
  margin-top: 25%;
}

/*perfil*/

.img-experiencias{
  margin-left: 30%;
}
}

@media (max-width: 1200px) {
/*empregos*/
}
