.navbar-header{
  margin-left:5px;
}
.main{
	width:70%;
	margin: 350px auto;
	float: none;
	display: block;
	position: relative;
}
.textbox-search {
  display: block;
  position: relative;
  width:42%;
  float:left;
  font-size: 12pt;
  color:#000;
}
.combox{
  width: 20%;
  margin-left: 1%;
  float: left;
  font-size: 12pt;
}
.search{
  margin-left: 1%;
  width: 15%;
  font-size: 12pt;
}
.brand{
  margin-left: 35px;
}
.register-login{
  margin-right: 35px;
}

.button_search{
  background-color: #009494;
  color : white;
}

.bg_index{
  background-image: url("../img/work.jpg");
  background-repeat: no-repeat;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 110%;
}
